<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos salvos de forma segura!</p>
        </div>


        <div class="responsive-table">
            <table class="table my-3">
                <tr>
                    <td>Ezequiel</td>
                    <td>Magalhaes</td>
                    <td>98988740369</td>
                    <td>ezequielmagmorais@gmail.com</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/head') %>